@page "/AccountManagement"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using EventTracking.Data
@using DevExpress.Blazor
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext

<h3 class="text-center my-4">Quản lý người dùng</h3>

<DxGrid Data="@users">
        @* RowDoubleClick="OnRowDoubleClick"> *@
    <Columns>
        <DxGridDataColumn FieldName="@nameof(ApplicationUser.UserName)" Caption="User Name" />
        <DxGridDataColumn FieldName="@nameof(ApplicationUser.Email)" Caption="Email" />
        <DxGridDataColumn FieldName="@nameof(ApplicationUser.PhoneNumber)" Caption="Phone" />
        <DxGridDataColumn FieldName="@nameof(ApplicationUser.Address)" Caption="Address" /> />
        <DxGridDataColumn FieldName="@nameof(ApplicationUser.Sex)" Caption="Gentl" />
    </Columns>

</DxGrid>

@code {
    private List<ApplicationUser> users = new();

    protected override async Task OnInitializedAsync()
    {
        users = await DbContext.Users.ToListAsync();
    }

    // private async Task OnRowUpdating(DataGridRowUpdatingEventArgs e)
    // {
    //     var user = await DbContext.Users.FindAsync(e.Key);
    //     if (user != null)
    //     {
    //         var newData = e.NewData as ApplicationUser;
    //         if (newData != null)
    //         {
    //             user.UserName = newData.UserName;
    //             user.Email = newData.Email;
    //             user.PhoneNumber = newData.PhoneNumber;
    //             user.Address = newData.Address;
    //             user.Sex = newData.Sex;

    //             await DbContext.SaveChangesAsync();
    //         }
    //     }
    // }
}
